body {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    min-width: 980px;
}

body header {
    box-shadow: 0px 2px 20px 0px black;
    height: 100px;
    background-color: #fefefe;
}

body h1 {
    margin-bottom: 0;
    margin-top: 0;
}

body p {
    margin-top: 0;
    margin-bottom: 10px;
}

body table {
    margin-left:auto;
    margin-right:auto;
}

body section {
    width: 70%;
    position: fixed;
    top: 100px;
    bottom: 0px;
    box-shadow: -2px 11px 20px 0px black;
    z-index: -1;
    right: 0;
    background-color: #fefefe;
    overflow-y: auto;
}

body aside {
    left: 0;
    width: 30%;
    background-color: #3c3c3c;
    position: fixed;
    top: 100px;
    bottom: 0px;
    z-index: -2;
}

body footer {
    clear: both;
    padding-top: 40px;
}

body .module {
    padding: 5px;
}

.post {
    width: 90%;
    background-color: #FBFBFB;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    margin-top: 20px;
    text-align: left;
    box-shadow: 0px 0px 5px #DDD;
}

.post-content {
    margin-left: 20px;
    width: 70%;
}

.post-content h3 {
    margin: 0px 0px 5px 0px;
    padding-top: 5px;
}

.post-content p {
    margin-left: 10px;
    padding-bottom: 5px;
}

.post-tool {
    background-color: white;
    margin-right: 15px;
    box-shadow: 0px 0px 5px #CCC;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}