<aside>
    <div id="moduleA" class="module">
        <div style="margin-left: auto; margin-right: auto; margin-top: 20px;">
            <p style="text-align: left; margin-left: 15px; color: #787878;">Facebook</p>
            <div style="width: 90%; height:80px; margin-left: auto; margin-right: auto; background-color: #5771a3; box-shadow: 0px 0px 10px;">
                
            </div>
        </div>
        <div style="margin-left: auto; margin-right: auto; margin-top: 20px;">
            <p style="text-align: left; margin-left: 15px; color: #787878;">Twitter</p>
            <div style="width: 90%; height:80px; margin-left: auto; margin-right: auto; background-color: #3cbaff; box-shadow: 0px 0px 10px;">
            
            </div>
        </div>
        <div style="margin-left: auto; margin-right: auto; margin-top: 20px;">
            <p style="text-align: left; margin-left: 15px; color: #787878;">LinkedIn</p>
            <div style="width: 90%; height:80px; margin-left: auto; margin-right: auto; background-color: #d8513e; box-shadow: 0px 0px 10px;">
                
            </div>
        </div>
    </div>
</aside>